 /* .row{
    border: 8px solid brown;;
}

.col{
    border:3px solid blue;
}
.col-6{
    border:2px solid green;
}  */

/* .pink{
    background: pink;
} */

/* .yellow{
    background: yellow;
} */

/* #heading{
    padding: 10px 0 20px 10px;
    background:rgb(158, 158, 223);
} */

/* img{ */
    /* width:1080px ; */
    /* height:750px; */
/* } */